/Lista1/ex2/target/*
/Lista1/ex3/target/*
/Lista2/ex5/target/*
/Lista3/ex3/target/*
/Lista3/ex4/target/*
/Lista3/ex6/target/*
/Lista3/ex8/target/*
/Lista1/ex2/.settings
/Lista1/ex2/.classpath
/Lista1/ex2/.project
/Lista 5/*/.vscode